# Entorno y secretos
.env
.env.local
.env.*.local
sc/.env

# macOS
.DS_Store
.AppleDouble

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
.vercel

# TypeScript
*.tsbuildinfo

# Foundry artifacts (generados por forge build / forge test)
sc/out/
sc/cache/
sc/broadcast/

# IDE
.vscode/
.idea/
*.swp
*.swo
