# Local (Anvil)
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_CHAIN_ID=31337
NEXT_PUBLIC_USER_REGISTRY_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
NEXT_PUBLIC_RAW_MATERIAL_ADDRESS=0x9fE46736679d2D9a65F0992F2272dE9f3c7fa6e0

# Sepolia (Alchemy)
# NEXT_PUBLIC_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_ALCHEMY_API_KEY
# NEXT_PUBLIC_CHAIN_ID=11155111
# NEXT_PUBLIC_USER_REGISTRY_ADDRESS=0x5De11ACfbBe3f718a01B1916a25bae6D73D03169
# NEXT_PUBLIC_RAW_MATERIAL_ADDRESS=0xeCF9449C740cC4f8DA7Ee1972E06876A81FBAeC9
